fastapi==0.109.0
httpx==0.26.0
passlib==1.7.4
pydantic==2.5.3
pydantic_settings==2.1.0
# PyJWT==2.7.0
PyJWT==2.8.0
pytest==7.4.4
pytest_asyncio==0.23.3
SQLAlchemy==2.0.22
tomli==2.0.1
pydantic[email]
asyncpg
python-multipart
alembic